// Copyright (c) 2023 Evocation Games
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@project "Cosmic Frontier";
@author "Evocation Games";
@author "Tom Hancocks";
@version "1.0";

type GalacticMapStyle : "gmäp" {
	template {
		C040 Name;
		DWRD Size;
		HLNG Color;
		HLNG BackgroundColor;
		HLNG InhabitedSystemColor;
		HLNG SystemColor;
		HLNG UnexploredSystemColor;
		HLNG LocationMarkerColor;
		HLNG HyperlinkColor;
		HLNG ActiveHyperlinkColor;	
		HLNG SelectionColor;
	};
	
	field("Font") {
		Size;
		Name;
		Color as Color;
	};
	
	field("BackgroundColor") {
		BackgroundColor as Color;	
	};
	
	field("System") {
		@api(unexploredColor) UnexploredSystemColor as Color;
		@api(color) SystemColor as Color;
		@api(inhabitedColor) InhabitedSystemColor as Color;
	};
	
	field("Hyperlink") {
		@api(color) HyperlinkColor as Color;	
		@api(activeColor) ActiveHyperlinkColor as Color;	
	};
	
	field("LocationMarkerColor") {
		LocationMarkerColor as Color;
	};
	
	field("SelectionColor") {
		SelectionColor as Color;
	};
};